<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angelagamefinale">

    <application
        android:allowBackup="true"
        android:icon="@drawable/itis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sconfitta" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"></activity>
        <activity android:name=".Vittoria" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Regole" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Splash" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Game" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" />
    </application>

</manifest>